* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  color: #fff;
}

:root {
  /*Pelo root eu controle o quanto quero que as fontes em rem fiquem 62,5*/
  font-size: 50%;
}

body,
input,
button,
textarea {
  /*Rem equivale a 18px*/
  font: 400 1.8rem/1 "Nunito", sans-serif;
}
